
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.5;
}

.Img-Perfil{
    width: 40px; 
    height: 40px;
    margin:5px 0 0 15px ;
    border-radius: 50%;
}

.containerMenu{
    display: flex;
}

#barra-busqueda {    
    padding: 10px;
    width: 300px;
    margin-left: 300px;
    margin-top: 3px;
    
}

nav a:hover {
    background-color: #ddd;
    color: #333;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav {
    background-color: #555;
    overflow: hidden;
}

footer{
    background-color: #555;
    color: #555;
    text-align: center;
    padding: 10px 0;
    position:relative;
    bottom: 0;
    width: 100%;
}